.room_ctn {
  width: 100vw;
  min-height: 100vh;
}

.myStream_box {
  height: 50vh;
  width: 100vw;
}

.remoteStream_box {
  min-height: 50vh;
  width: 100vw;
}

.user_ctn{
    min-height: 50vh;
    width: 90vw;
}

.myPlayer{
    border-radius: 0.5em;
}

.remotePlayer{
    border-radius: 0.25em;
}

.send_box{
  width: 20vw;
}

.sendIcon,.callIcon{
  width: 8vw;
}

.h4_tag{
  font-size: 1.5vw;
}

.btn_text_size{
  font-size: 1.2vw;
}